@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
}

.container {
    max-width: 1230px;
    width: 90%;
    margin: 0 auto;
}

nav {
    background-color: #f9b343;
}

nav .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    margin-bottom: 40px;
    padding: 10px 0;
    
}

nav menu {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 0;
    margin: 0;
}

nav .logo .text {
    font-size: 1.8rem;
    font-weight: 700;
    text-transform: uppercase;
}

nav menu .item a {
    display: block;
    text-decoration: none;
    padding: 10px 5px;
    color: #fff;
    font-weight: 600;
    cursor: pointer;
}

nav menu .item:first-child {
    display: none;
}

#nav_frame {
    display: none;
}

.btn {
    display: none;
    padding: 8px 10px;
    background-color: #f9b343;
    border: 1px solid #fff;
    cursor: pointer;
}

@media screen and (max-width: 768px) {
    .btn {
        display: inline-block;
    }


    nav menu {
        position: fixed;
        right: -100%;
        top: 0;
        bottom: 0;
        width: 80%;
        max-height: 100vh;
        height: 100vh;
        background-color: rgba(0, 0, 0, 0.6);
        backdrop-filter: blur(5px);
        flex-direction: column;
        justify-content: space-between;
        padding-bottom: 130px;
        padding-inline: 30px;
        transition: .2s linear;
        z-index: 100;
    }

    nav menu .item:first-child {
        display: block;
        font-size: 1.5rem;
        align-self: self-end;
    }

    nav.active menu {
        right: 0;
    }

    nav.active #nav_frame {
        display: block;
        position: fixed;
        width: 100%;
        height: 100vh;
        top: 0;
        right: 0;
        z-index: 99;
    }
}